@import "../../assets/css/config/common.scss";

.messageCenter {
  .myList {
    background-color: $bg-color;
    height: calc(100vh - 0.45rem);

    :global {
      .am-list-body {
        background-color: $bg-color;
      }

      .info-list-item {
        background-color: #fff;
      }

      .info-list-item-sys {
        margin-top: 0.15rem;
      }
    }
  }
}
