@import "../../assets/css/config/common.scss";

.userInfo {
  position: relative;

  .bgImg {
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center 6%;
    background-size: cover;
    background-image: url("../../assets/img/bg.jpg");
  }

  .goBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.45rem;
    padding: 0 0.15rem;
    box-sizing: border-box;

    .icon {
      font-size: 0.21rem;
      font-weight: 700;
      color: #8f918f;
    }
  }

  .avatar {
    position: absolute;
    top: 0.56rem;
    left: 0.14rem;
    border: 2px solid #fff;
    @include setBgImg(0.8rem, 0.8rem, 50%);
  }

  .detailInfo {
    background-color: #fff;
    padding: 0.6rem 0.12rem 0.15rem;

    .nameLine {
      margin-bottom: 0.12rem;

      .name {
        @include setTitle(0.16rem, #000408, 0.24rem, 600);
      }

      .job {
        @include setTitle(0.14rem, #aeb4bb, 0.24rem);
      }
    }

    .desc {
      @include setTitle(0.14rem, #aeb4bb, 0.24rem);
      margin-bottom: 0.2rem;
    }

    .fansBox {
      display: flex;

      .item {
        padding: 0 0.3rem;

        .num {
          text-align: center;
          @include setTitle(0.16rem, #000408, 0.24rem, 600);
        }

        .word {
          @include setTitle(0.12rem, #aeb4bb, 0.2rem);
        }
      }
    }
  }
}

.myList {
  background-color: #f5f5f9;

  :global {
    .am-list-body {
      background-color: #f5f5f9;

      .config {
        margin-top: 0.2rem;

        .am-list-content {
          text-align: center;
          font-weight: 500;
          color: #e94f4f;
        }
      }

      .am-list-item {
        border-bottom: $borderLine;

        .am-list-line-multiple {
          padding: 0;
        }

        &:active {
          background-color: rgb(221, 221, 221);
        }

        .am-list-thumb {
          .iconfont {
            font-size: 0.18rem;
            width: 0.18rem;
            height: 0.18rem;
          }
        }

        .am-list-line {
          .am-list-extra {
            font-size: 0.14rem;
          }

          &::after {
            display: none;
          }

          .am-list-content {
            padding: 0.15rem 0;
          }
        }
      }

      .am-list-item-middle {
        padding-left: 0.15rem;
        box-sizing: border-box;
      }
    }
  }
}
