@import "../../assets/css/config/common.scss";

.searchBar {
  background-color: #efeff4;

  .searchBox {
    height: 0.54rem;
    display: flex;
    align-items: center;

    .search {
      flex: 1;
    }

    :global {
      .am-input-item {
        height: 0.38rem;
      }

      .am-list-item {
        min-height: auto;
      }

      .am-input-control {
        input {
          font-size: 0.16rem;
        }
      }

      .am-input-label {
        .icon-fangdajing {
          color: #99a0a8;
          font-size: 0.16rem;
        }
      }

      .icon-shezhi {
        width: 0.55rem;
        line-height: 0.54rem;
        padding-left: 0.2rem;
        color: #acb4be;
      }
    }

    .cancel {
      width: 0.45rem;
      line-height: 0.54rem;
      padding-left: 0.3rem;
      font-size: 0.16rem;
      color: $primary-color;
      font-weight: 600;
    }
  }
}
