@import "../../assets/css/config/common.scss";

.news {
  background-color: $bg-color;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
  height: 100%;

  :global {
    .am-list-footer {
      height: 1rem;
    }
  }
}
