@import "../../assets/css/config/common.scss";

.interaction {
  background-color: $bg-color;

  :global {
    .am-list-view-scrollview {
      border: none !important;

      .am-list-header {
        width: 100vw;
        height: 1.16rem;
        padding: 0;
        padding: 0.08rem;
        box-sizing: border-box;
        background-color: $bg-color;

        .swiper-box {
          overflow-x: auto;
          overflow-y: hidden;
          height: 100%;

          // 隐藏滚动条
          &::-webkit-scrollbar {
            display: none;
          }

          .swiper-innerBox {
            width: 10.28rem;
            height: 100%;

            .swiper-item {
              display: inline-block;
              height: 1rem;
              width: 3.32rem;
              margin-right: 0.08rem;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
