@import "../../assets/css/config/common.scss";

.home {
  background-color: #EFF2F5;

  .homeSearchBox {
    height: 0.54rem;
    display: flex;
    padding: 0 0.1rem;
    box-sizing: border-box;
    align-items: center;
    background-color: #F9F9F9;

    .search {
      flex: 1;
    }

    :global {
      .am-input-item {
        height: 0.38rem;
      }

      .am-list-item {
        min-height: auto;
        padding-left: 0.15rem;
      }

      .am-input-control {
        input {
          font-size: 0.16rem;
        }
      }

      .am-input-label {
        .icon-fangdajing {
          color: #99a0a8;
          font-size: 0.16rem;
        }
      }

      .am-list-line {
        padding-right: 0.15rem;
      }

      .iconfont {
        font-size: 0.16rem;
      }

      .icon-shezhi {
        width: 0.55rem;
        line-height: 0.54rem;
        padding-left: 0.2rem;
        color: #acb4be;
      }
    }
  }

  :global {
    .am-list-view-scrollview {
      border: none !important;
    }

    .am-list-header {
      padding: 0;
    }
  }
}

:global {
  .am-input-item {
    background-color: #EFF2F5;
  }
}
