// 主题色
$primary-color: #00c58e;

// icon默认灰色
$primary-icon-gray: #8f918f;

// 背景色
$bg-color: #eff2f5;

// 边框线
$borderLine: 1px solid #ededed;

@mixin setTitle(
  $fontSize: 0.14rem,
  $color: #000408,
  $lineHeight: 0.2rem,
  $fontWeight: 400
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  line-height: $lineHeight;
}

// 文本信息显示不下省略号代替
@mixin ellipsis() {
  text-overflow: ellipsis; /*省略号 */
  white-space: nowrap; /*溢出时不换行 */
  overflow: hidden; /*溢出时隐藏 */
}

// 文本信息两行显示不下省略号代替
@mixin ellipsis2() {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden; /** 隐藏超出的内容 **/
}

// 设置背景图片
@mixin setBgImg(
  $width,
  $height,
  $borderRadius: 0.03rem,
  $repeat: no-repeat,
  $bgPosition: center,
  $bgSize: cover
) {
  width: $width;
  height: $height;
  border-radius: $borderRadius;
  background-repeat: $repeat;
  background-position: $bgPosition;
  background-size: $bgSize;
}

@mixin setAvatar($width, $height, $marginRight: 0.1rem, $borderRadious: 50%) {
  width: $width;
  height: $height;
  border-radius: $borderRadious;
  margin-right: $marginRight;
}

@mixin setWord(
  $color: #0b0f12,
  $fontSize: 0.15rem,
  $lineHeight: 0.27rem,
  $fontWeight: 400
) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
