@import "../../assets/css/config/common.scss";

.find {
  .searchBox {
    height: 0.54rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
    align-items: center;
    background-color: #f9f9f9;

    :global {
      .am-input-item {
        height: 0.38rem;
      }

      .am-list-item {
        min-height: auto;
        padding-left: 0.15rem;
      }

      .am-input-control {
        input {
          font-size: 0.16rem;
        }
      }

      .am-input-label {
        .icon-fangdajing {
          color: #99a0a8;
          font-size: 0.16rem;
        }
      }

      .am-list-line {
        padding-right: 0.15rem;
      }

      .iconfont {
        font-size: 0.16rem;
      }
    }
  }
}
