@import "../../assets/css/config/common.scss";

.searchBar {
  width: 100vw;
  background-color: #f9f9f9;
  z-index: 9999;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transition: height 0.3s;

  .searchBox {
    height: 0.54rem;
    display: flex;
    align-items: center;

    .search {
      flex: 1;
    }

    :global {
      .am-input-item {
        height: 0.38rem;
      }

      .am-list-item {
        min-height: auto;
        padding-left: 0.15rem;
      }

      .am-input-control {
        input {
          font-size: 0.16rem;
        }
      }

      .am-input-label {
        .icon-fangdajing {
          color: #99a0a8;
          font-size: 0.16rem;
        }
      }

      .am-list-line {
        padding-right: 0.15rem;
      }

      .iconfont {
        font-size: 0.16rem;
      }

      .icon-shezhi {
        width: 0.55rem;
        line-height: 0.54rem;
        padding-left: 0.2rem;
        color: #acb4be;
      }
    }

    .cancel {
      width: 0.55rem;
      line-height: 0.54rem;
      padding-left: 0.2rem;
      font-size: 0.16rem;
      color: $primary-color;
      font-weight: 600;
    }
  }

  .tag {
    width: 100%;
    height: 0.4rem;
    padding: 0 0.04rem;
    line-height: 0.4rem;
    align-items: center;
    display: flex;
    font-size: 0.16rem;
    color: #939ba4;
    border-bottom: 1px solid #eff2f5;

    :global {
      .tag-item {
        padding: 0 0.16rem;
      }

      .active {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  .history {
    height: 0.4rem;
    font-size: 0.16rem;
    color: #939ba4;

    .list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .listItem {
        padding: 0.05rem;

        .innerBox {
          padding: 0.03rem 0.1rem;
          border-radius: 0.14rem;
          line-height: 0.24rem;
          background-color: #eff2f5;
        }
      }
    }
  }
}
